 @if (postRequest$ | async; as post) {
    @switch (post.state) {
      @case ("loading") {
        Loading...
      }
      @case ("error") {
        Error: {{ post.error.message }}
      }
      @case ("loaded") {
        <div class="flex justify-center">
            <div class="w-8/12">
                <div class="rounded-b-none rounded-t-lg px-10 py-5 shadow-sm bg-arctic_highlight">
                    <p class="text-sm tracking-tighter text-gray-500">Posted {{post.data.creationDate | dateAgo}} by {{post.data.author}}</p>
                    <hr class="h-px my-5 bg-gray-400 border-0">
                    <h1 class="text-3xl font-semibold text-navy">{{post.data.title}}</h1>
                    <p class="text-lg mt-5 text-gray-600">{{post.data.description}}</p>
                    <div class="flex w-min items-center hover:bg-arctic_highlight ease-in-out transition rounded-sm p-2 text-left" (click)="toggleReply()">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-3">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 0 1 1.037-.443 48.282 48.282 0 0 0 5.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                      </svg>      
                      <p class="text-sm font-light ml-2">Reply</p>
                  </div>
                  @if(isReplying) {
                    <textarea #commentInput class="resize-y rounded-md shadow-sm w-full mt-2 border-black p-2"></textarea>
                    <div class="flex w-full justify-end">
                        <button class="bg-arctic_highlight text-white rounded-md hover:bg-blue px-2 py-1 mt-2" (click)="submitComment(commentInput.value, post.data.id)">Submit</button>
                    </div>
                }
                </div>
                  @for(comment of post.data.rootComments; track $index) {
                    <app-comment [comment]="comment" [post]="post.data" ></app-comment>
                    <hr class="h-0.5 bg-gray-100 border-0 mx-auto ">
                  } @empty { 
                    No comments found.
                  } 
              </div>
        </div>
      }
    }
  }  

