<div class="flex min-h-full flex-col justify-center px-8 h-screen items-center-justify-center">
  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in</h2>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form class="space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email: </label>
        <div class="mt-2">
          <input
            class="block w-full rounded-md border-0 px-1.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            formControlName="email"
            id="email"
            type="email"
            pInputText
          />
          <div *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)" class="text-red-500 text-xs mt-1">
            <div *ngIf="f['email'].hasError('required')">Email is required.</div>
            <div *ngIf="f['email'].hasError('email')">Email is not valid.</div>
          </div>
        </div>
      </div>
      <div class="form-control">
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password: </label>
        <div class="mt-2">
          <input
            class="block w-full rounded-md border-0 px-1.5 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            formControlName="password"
            id="password"
            type="password"
            pInputText
          />
          <div *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)" class="text-red-500 text-xs mt-1">
            <div *ngIf="f['password'].hasError('required')">Password is required.</div>
          </div>
        </div>
      </div>
      <div>
        <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          Login
        </button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not yet a member?
      <a routerLink="/register" routerLinkActive="active" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Register</a>
    </p>
  </div>
</div>


